aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "3.13"
aiohttp==3.12.15 ; python_version >= "3.10" and python_version < "3.13"
aiosignal==1.4.0 ; python_version >= "3.10" and python_version < "3.13"
aiosqlite==0.21.0 ; python_version >= "3.10" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.10.0 ; python_version >= "3.10" and python_version < "3.13"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "3.13"
async-timeout==4.0.3 ; python_version == "3.10"
attrs==25.3.0 ; python_version >= "3.10" and python_version < "3.13"
certifi==2025.8.3 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.4.2 ; python_version >= "3.10" and python_version < "3.13"
click==8.2.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (platform_system == "Windows" or sys_platform == "win32")
dataclasses-json==0.6.7 ; python_version >= "3.10" and python_version < "3.13"
datasets==3.6.0 ; python_version >= "3.10" and python_version < "3.13"
dill==0.3.7 ; python_version >= "3.10" and python_version < "3.13"
diskcache==5.6.3 ; python_version >= "3.10" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.3.0 ; python_version == "3.10"
fastapi==0.116.1 ; python_version >= "3.10" and python_version < "3.13"
filelock==3.18.0 ; python_version >= "3.10" and python_version < "3.13"
frozenlist==1.7.0 ; python_version >= "3.10" and python_version < "3.13"
fsspec==2025.3.0 ; python_version >= "3.10" and python_version < "3.13"
greenlet==3.2.4 ; python_version >= "3.10" and python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.74.0 ; python_version >= "3.10" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.13"
h2==4.2.0 ; python_version >= "3.10" and python_version < "3.13"
hf-xet==1.1.7 ; python_version >= "3.10" and python_version < "3.13" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.10" and python_version < "3.13"
httpcore==1.0.9 ; python_version >= "3.10" and python_version < "3.13"
httptools==0.6.4 ; python_version >= "3.10" and python_version < "3.13"
httpx==0.27.2 ; python_version >= "3.10" and python_version < "3.13"
huggingface-hub==0.34.3 ; python_version >= "3.10" and python_version < "3.13"
hyperframe==6.1.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.10 ; python_version >= "3.10" and python_version < "3.13"
jiter==0.10.0 ; python_version >= "3.10" and python_version < "3.13"
joblib==1.5.1 ; python_version >= "3.10" and python_version < "3.13"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "3.13"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
langchain-community==0.2.19 ; python_version >= "3.10" and python_version < "3.13"
langchain-core==0.2.43 ; python_version >= "3.10" and python_version < "3.13"
langchain-openai==0.1.25 ; python_version >= "3.10" and python_version < "3.13"
langchain-text-splitters==0.2.4 ; python_version >= "3.10" and python_version < "3.13"
langchain==0.2.17 ; python_version >= "3.10" and python_version < "3.13"
langgraph-checkpoint-sqlite==2.0.11 ; python_version >= "3.10" and python_version < "3.13"
langgraph-checkpoint==2.1.1 ; python_version >= "3.10" and python_version < "3.13"
langgraph-sdk==0.1.74 ; python_version >= "3.10" and python_version < "3.13"
langgraph==0.2.76 ; python_version >= "3.10" and python_version < "3.13"
langsmith==0.1.147 ; python_version >= "3.10" and python_version < "3.13"
marshmallow==3.26.1 ; python_version >= "3.10" and python_version < "3.13"
multidict==6.6.3 ; python_version >= "3.10" and python_version < "3.13"
multiprocess==0.70.15 ; python_version >= "3.10" and python_version < "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.13"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.13"
openai==1.99.3 ; python_version >= "3.10" and python_version < "3.13"
orjson==3.11.1 ; python_version >= "3.10" and python_version < "3.13"
ormsgpack==1.10.0 ; python_version >= "3.10" and python_version < "3.13"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.13"
pandas==2.3.1 ; python_version >= "3.10" and python_version < "3.13"
portalocker==3.2.0 ; python_version >= "3.10" and python_version < "3.13"
propcache==0.3.2 ; python_version >= "3.10" and python_version < "3.13"
protobuf==6.31.1 ; python_version >= "3.10" and python_version < "3.13"
pyarrow==21.0.0 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.11.7 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==1.1.1 ; python_version >= "3.10" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.13"
pywin32==311 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.13"
qdrant-client==1.15.1 ; python_version >= "3.10" and python_version < "3.13"
ragas==0.2.15 ; python_version >= "3.10" and python_version < "3.13"
rank-bm25==0.2.2 ; python_version >= "3.10" and python_version < "3.13"
regex==2025.7.34 ; python_version >= "3.10" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
requests==2.32.4 ; python_version >= "3.10" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy==2.0.42 ; python_version >= "3.10" and python_version < "3.13"
sqlite-vec==0.1.6 ; python_version >= "3.10" and python_version < "3.13"
starlette==0.47.2 ; python_version >= "3.10" and python_version < "3.13"
tenacity==8.5.0 ; python_version >= "3.10" and python_version < "3.13"
tiktoken==0.10.0 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.14.1 ; python_version >= "3.10" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
typing-inspection==0.4.1 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "3.13"
uvicorn==0.35.0 ; python_version >= "3.10" and python_version < "3.13"
uvloop==0.19.0 ; python_version >= "3.10" and python_version < "3.13" and platform_python_implementation != "PyPy" and sys_platform != "win32" and sys_platform != "cygwin"
watchfiles==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
websockets==15.0.1 ; python_version >= "3.10" and python_version < "3.13"
xxhash==3.5.0 ; python_version >= "3.10" and python_version < "3.13"
yarl==1.20.1 ; python_version >= "3.10" and python_version < "3.13"
