pydantic~=2.10.6
langgraph~=0.6.7
langchain-core~=0.3.76
langchain-openai~=0.3.33
dotenv~=0.9.9
python-dotenv~=1.0.1
fastapi~=0.117.1
langchain-community~=0.3.29
langchain~=0.3.27
qdrant-client~=1.15.1
